<% if current_user %>
  Welcome <%= current_user.name %>!
  <%= link_to "Sign Out", signout_path %>
  <%= link_to "Send a New Tweet", new_tweet_path %>

+<div class="container">
+  <div class="page-header row">
+    <h1 class="font-personal col-md-6 title"><%= current_user[:name] %> <small>@<%= current_user[:nickname] %></small></h1>
    <a class="btn btn-danger pull-right" href="/signout">Sign Out</a>
  </div>

  <div class="container tweet-container">
    <ul id="tweet-list" class="tweet-list">
      <% @tweets.each do |tweet| %>
        <div class="tweet media" style="margin: 10px 0 10px">
  <a class="pull-left" href="https://twitter.com/<%= tweet.user_nickname %>">
    <img class="media-object img-circle" src="<%= tweet.user_image %>">
  </a>
  <div class="media-body">
    <p class="text-tweet" style="margin:1px 0 4px;"><%=h tweet.text %></p>

    <div class="text-gray text-timeago" data-timestamp="<%= tweet.created_at.to_s.gsub(/UTC/, 'Z') %>"></div>

  </div>
</div>
      <% end %>
    </ul>
  </div>

</div>

<% else %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
<% end %>
